/* Barra de navegación personalizada */
.custom-navbar {
  background-color: #333; /* Gris oscuro para el fondo de la barra de navegación */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
  padding: 0.75rem 1.5rem; /* Padding aumentado para un diseño más espacioso */
  margin-bottom: 1rem; /* Margen inferior aumentado */
  border-bottom: 4px solid #ff4b4b; /* Línea roja en la parte inferior */
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  color: #ff4b4b; /* Rojo para el logo */
  font-size: 1.5rem; /* Tamaño aumentado */
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-brand img {
  width: 120px; /* Tamaño del logo */
  height: auto; /* Mantener proporciones */
  margin-right: 0.5rem; /* Espacio entre el logo y el texto */
}

.custom-navbar .nav-link {
  color: #c5c6c7; /* Gris claro para los enlaces */
  margin-right: 1rem; /* Espacio entre los enlaces */
  font-size: 1rem; /* Tamaño de fuente ajustado para mejor legibilidad */
  padding: 0.5rem 1rem; /* Padding aumentado */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transición suave  */
}

.custom-navbar .nav-link:hover {
  color: #fff; /* Blanco para el texto al pasar el ratón */
  background-color: #ff4b4b; /* Fondo rojo al hacer hover */
  border-radius: 4px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Mantener el padding al hacer hover */
}

