<div class="container">
  <!-- Autos Section -->
  <h2 class="my-4">Cotiza tu automovil con nosotros al mejor precio</h2>
  <div *ngIf="!(autos$ | async)?.length">No hay autos disponibles</div>
  <div *ngIf="(autos$ | async)?.length" class="row">
    <div class="col-lg-3 col-md-4" *ngFor="let auto of autos$ | async">
      <div class="card h-100">
        <img [src]="auto.image" class="card-img-top" [alt]="auto.name" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ auto.name }}</h5>
          <p class="card-text">{{ auto.description }}</p>
          <p class="card-text">Precio: {{ auto.price | currency }}</p>
          <a [routerLink]="['/autos', auto.id]" class="btn btn-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Motos Section -->
  <h2 class="my-4">Motocicletas deportivas de gran cilindraje</h2>
  <div *ngIf="!(motos$ | async)?.length">No hay motos disponibles</div>
  <div *ngIf="(motos$ | async)?.length" class="row">
    <div class="col-lg-3 col-md-4" *ngFor="let moto of motos$ | async">
      <div class="card h-100">
        <img [src]="moto.image" class="card-img-top" [alt]="moto.name" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ moto.name }}</h5>
          <p class="card-text">{{ moto.description }}</p>
          <p class="card-text">Precio: {{ moto.price | currency }}</p>
          <a [routerLink]="['/motos', moto.id]" class="btn btn-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Vehículos Pesados Section -->
  <h2 class="my-4">Grandes Maquinas para trabajos pesados</h2>
  <div *ngIf="!(pesados$ | async)?.length">No hay vehículos pesados disponibles</div>
  <div *ngIf="(pesados$ | async)?.length" class="row">
    <div class="col-lg-3 col-md-4" *ngFor="let pesado of pesados$ | async">
      <div class="card h-100">
        <img [src]="pesado.image" class="card-img-top" [alt]="pesado.name" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ pesado.name }}</h5>
          <p class="card-text">{{ pesado.description }}</p>
          <p class="card-text">Precio: {{ pesado.price | currency }}</p>
          <a [routerLink]="['/pesados', pesado.id]" class="btn btn-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
