<div *ngIf="moto$ | async as moto; else loadingTemplate">
  <h1>{{ moto.name }}</h1>
  <img [src]="moto.image" alt="{{ moto.name }}" />
  <p>{{ moto.description }}</p>
  <p>Precio: {{ moto.price | currency }}</p>

  <button (click)="addToCart(moto)">Comprar</button>
  <button (click)="updateMoto(moto.id.toString(), { name: moto.name, price: moto.price })">Actualizar</button>
  <button (click)="deleteMoto(moto.id.toString())">Eliminar</button>
</div>

<ng-template #loadingTemplate>
  <p>Cargando detalles de la moto...</p>
</ng-template>
