<div *ngIf="pesado$ | async as pesado; else loadingTemplate">
  <h1>{{ pesado.name }}</h1>
  <img [src]="pesado.image" alt="{{ pesado.name }}" />
  <p>{{ pesado.description }}</p>
  <p>Precio: {{ pesado.price | currency }}</p>

  <button (click)="addToCart(pesado)">Comprar</button>
  <button (click)="updatePesado(pesado.id.toString(), { name: pesado.name, price: pesado.price })">Actualizar</button>
  <button (click)="deletePesado(pesado.id.toString())">Eliminar</button>
</div>

<ng-template #loadingTemplate>
  <p>Cargando detalles del vehículo pesado...</p>
</ng-template>
