<div class="container nosotros-container">
  <h1>Nosotros</h1>
  <section>
    <h2>Nuestra Historia</h2>
    <p>Fundado en 2010, nuestro concesionario ha sido un referente en la venta de vehículos de alta calidad. Ubicados en Quito, Ecuador, hemos construido una reputación basada en la confianza, la satisfacción del cliente y una pasión inigualable por los autos. A lo largo de los años, hemos ayudado a miles de personas a encontrar el vehículo perfecto que se ajuste a sus necesidades y estilo de vida.</p>
  </section>
  
  <section>
    <h2>Misión</h2>
    <p>Nuestra misión es proporcionar vehículos de calidad excepcional, combinados con un servicio al cliente insuperable, asegurando que cada cliente encuentre su automóvil ideal. Nos esforzamos por ofrecer una experiencia de compra de vehículos eficiente, transparente y personalizada, que siempre supere las expectativas.</p>

    <h2>Visión</h2>
    <p>Aspiramos a ser el concesionario líder en América Latina, reconocido no solo por nuestra amplia selección de vehículos, sino también por nuestra dedicación a la excelencia en el servicio. Queremos ser la primera opción para cualquier persona que busque un automóvil, brindando confianza y satisfacción en cada venta.</p>
  </section>
  
  <section>
    <h2>Nuestros Directivos</h2>
    <div class="row">
      <div class="col-md-4 directivo">
        <img src="/assets/images/CEO1.png" alt="Esteban Guevara" class="img-fluid">
        <h3>Esteban Guevara</h3>
        <p>Gerente General</p>
      </div>
      <div class="col-md-4 directivo">
        <img src="/assets/images/CEO2.png" alt="Esperanza Vinueza" class="img-fluid">
        <h3>Esperanza Vinueza</h3>
        <p>Directora de Ventas</p>
      </div>
      <div class="col-md-4 directivo">
        <img src="/assets/images/CEO3.png" alt="Danny Ledesma" class="img-fluid">
        <h3>Danny Ledesma</h3>
        <p>Director de Operaciones</p>
      </div>
    </div>
  </section>
</div>
