<div *ngIf="auto$ | async as auto; else loading">
  <div class="auto-details">
    <h2>{{ auto.name }}</h2>
    <img [src]="auto.image" alt="{{ auto.name }}" class="auto-image">
    <p><strong>Description:</strong> {{ auto.description }}</p>
    <p><strong>Price:</strong> {{ auto.price | currency }}</p>

    <button (click)="addToCart(auto)" class="btn btn-primary">Add to Cart</button>
    <button (click)="updateAuto(auto.id)" class="btn btn-secondary">Actualizar</button> <!-- Botón para actualizar -->

    <button (click)="deleteAuto(auto.id)" class="btn btn-danger">Delete</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
