<div *ngIf="auto$ | async as auto; else loadingTemplate">
  <h1>{{ auto.name }}</h1>
  <img [src]="auto.image" alt="{{ auto.name }}" />
  <p>{{ auto.description }}</p>
  <p>Precio: {{ auto.price | currency }}</p>

  <button (click)="addToCart(auto)">Comprar</button>
  <button (click)="updateAuto(auto.id, { name: auto.name, price: auto.price })">Actualizar</button>
  <button (click)="deleteAuto(auto.id)">Eliminar</button>
</div>

<ng-template #loadingTemplate>
  <p>Cargando detalles del auto...</p>
</ng-template>
